@tailwind base;
@tailwind components;
@tailwind utilities;

/* src/index.css */

body {
    font-family: 'Roboto', sans-serif;
}

/* Example of font sizes */
.text-xs {
    font-size: 0.75rem;
    /* 12px */
}

.text-sm {
    font-size: 0.875rem;
    /* 14px */
}

.text-base {
    font-size: 1rem;
    /* 16px */
}

.text-lg {
    font-size: 1.25rem;
    /* 20px */
}

.text-xl {
    font-size: 1.5rem;
    /* 24px */
}

.text-2xl {
    font-size: 2rem;
    /* 32px */
}

.text-3xl {
    font-size: 2.5rem;
    /* 40px */
}

/* Add these styles to your global CSS file */

@keyframes borderAnimation {
    to {
        transform: rotate(360deg);
    }
}

.border-loading::before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    border: 2px solid #ffffff;
    border-radius: 12px;
    animation: borderAnimation 1.5s linear infinite;
}

.placeholder-style::placeholder {
    color: rgba(51, 46, 46, 0.76);
    /* Placeholder text color */
    opacity: 1;
    /* Placeholder text opacity */
}

/* Add this to your CSS styles */
.breadcrumbs ul li.active a {
    color: teal;
    /* Change the color for the active step */
    font-weight: bold;
    /* Apply bold font for the active step */
}

/* Add more sizes as needed */